@import "../../sass/style";
@import "../../sass/btn";

.about{
  margin: 8.4rem 0;
  .about__inner{
    display: flex;
    max-width: 1090px;


    .about__photo,
    .about__content{
      width: 50%;

      .about__title{
        font-size: 3rem;
        color: $black;
        font-weight: 700;
      }
      .about__bigTitle{
        margin-bottom: 1.4rem;
        position: relative;
        left: -10px;

        font-size: 6.1rem;
        color: fade-out($black, .9);
        font-weight: 700;
      }
      .about__text{
        margin-bottom: 2.8rem;

        font-size: 0.8rem;
        line-height: 2;
        color: $gray;
        font-weight: 300;
      }
      .btn{
        +.btn {
          margin-left: 1rem;
        }
      }
    }
    .about__content{
      padding-left: 3rem;
      margin-top: 2rem;
    }
    .about__photo{
      position: relative;

      .img{
        position: absolute;
        bottom: 0;
        z-index: 2;
      }

      &:before{
        content: "";
        width: 413px;
        height: 413px;
        background-color: #ffd402;

        position: absolute;
        left: 1rem;
        bottom: 0;

        z-index: 1;
      }
    }
  }
}


