<section class="about">
  <div class="container">
      <div class="about__inner">
        <div class="about__photo">
          <img class="img" src="../../../../assets/image/designer_photo.png" alt="">
        </div>
        <div class="about__content">

          <h3 class="about__title">About me</h3>
          <h2 class="about__bigTitle">Who am I</h2>
          <div class="about__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorum et ex explicabo ipsam ipsum iure laboriosam maxime molestias, nihil nisi officiis qui repellendus repudiandae saepe. Accusamus blanditiis culpa deserunt, dolor doloribus eius nam non omnis quam, quos tempore velit!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorum et ex explicabo ipsam ipsum iure laboriosam maxime molestias, nihil nisi officiis qui repellendus repudiandae saepe. Accusamus blanditiis culpa deserunt, dolor doloribus eius nam non omnis quam, quos tempore velit!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorum et ex explicabo ipsam ipsum iure laboriosam maxime molestias, nihil nisi officiis qui repellendus repudiandae saepe. Accusamus blanditiis culpa deserunt, dolor doloribus eius nam non omnis quam, quos tempore velit!</p>
          </div>

          <a href="" class="btn" (click)="hereMe($event)">HIRE ME</a>
          <button class="btn" (click)="resume()">SEE MY RESUME</button>

        </div>
      </div>
  </div>
</section>
