<div class="modal">
  <div class="modal__dialog">
    <button class="modal__close" type="button">
      <img class="modal__close-img" src="../../../../assets/image/modal-close.svg" alt="">
    </button>
    <div class="modal-work">
      <div class="modal-work__previous">
        <img class="modal-work__photo" src="https://via.placeholder.com/790x780/" alt="">
      </div>
      <div class="modal-work__content">
        <div class="modal-work__header">
          <h3 class="modal-work__title">Project title</h3>
          <div class="modal-work__info">category <span class="modal-work__info-divider">|</span> 2020</div>
          <div class="modal-work__client">
            <div class="modal-work__client-title">Client:</div>
            <div class="modal-work__client-company">Creative Agency</div>
            <div class="modal-work__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias culpa debitis dolor doloribus excepturi minus necessitatibus nemo non quo rerum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias culpa debitis dolor doloribus excepturi minus necessitatibus nemo non quo rerum.</p>
            </div>
          </div>
        </div>

        <div class="modal-work__footer">
          <button class="modal-work__btn modal-work__btn-prev"><img src="../../../../assets/image/back.svg" height="12" alt=""> Previous</button>
          <button class="modal-work__btn modal-work__btn-next">Next <img src="../../../../assets/image/next.svg" height="12" alt=""> </button>
        </div>
      </div>

    </div>
  </div>
</div>
