@import "../../sass/style";
@import "../../sass/modal";

  .modal__dialog{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;

    //padding: 2rem ;

    background-color: white;

    &--sm{
    max-width: 900px;
  }

    .modal__close{
      position: absolute;
      z-index: 2;
      top: .9rem;
      right: .9rem;
      width: 39px;
      height: 39px;

      padding: 0;
      background: none;
      border: 0;
      cursor: pointer;
      transition: transform .2s;

      &:hover{
        transform: rotate(90deg);

      }
      &:focus{
        outline: 0;
      }

      .modal__close-img{
        width: 39px;
        height: 39px;
      }

    }

    .modal-work{
      display: flex;

      .modal-work__previous{
        overflow: hidden;
        position: relative;
        width: 65%;

        .modal-work__photo{


          position: absolute;
          top:50%;
          left:50%;
          z-index: 1;

          transform: translate3d(-50%,-50%,0);
        }

      }
      .modal-work__content{
        position: relative;
        padding: 3.1rem 6.6rem 1rem 1.73rem;
        width: 35%;
        .modal-work__header{

          .modal-work__title{
            margin-bottom: .2rem;

            font-size: 2.12rem;
            color: $black;
            font-weight: 700;
            text-transform: uppercase;
          }
          .modal-work__info{
            margin-bottom: 2.2rem;

            font-size: 1.2rem;
            color: $gray;
            text-transform: uppercase;
            &-divider{
              margin: 0 1rem;
            }

          }
          .modal-work__client{
            margin-bottom: 2.2rem;
            &-title{
              margin-bottom: .2rem;

              font-size: 1.06rem;
              color:$black;
              font-weight: 700;

            };
            &-company{
              margin-bottom: 2.2rem;
              font-size: .94rem;
              color:$gray;
              font-style: italic;
            };
            .modal-work__text{
              margin-bottom: 8.66rem;

              line-height: 2;
              font-size: .8rem;
              color:$gray;
              font-weight: 300;
            }
          }
        }
        .modal-work__footer{
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 0;

          display: flex;
          width: 100%;
          padding: 0 1.8rem 1rem;

          justify-content: space-between;
          .modal-work__btn{
            padding: 0;

            font-family: inherit;
            font-size: .94rem;
            color: $black;
            text-transform: uppercase;

            cursor: pointer;
            background: none;
            border: 0;


          }
        }
      }
    }
  }

.modal__subtitle{
  text-transform: uppercase;
  font-size: 1.06rem;
  color: $black;
  font-weight: 400;
}
