@import "../../sass/style";
@import "../../sass/btn";
.body{
  &.no-scroll{
    overflow: hidden;
  }
}
//Header////////////////
.header {
  padding: 1.2rem 0;
  font-family: 'Montserrat', sans-serif;

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user {
      display: flex;

      .user__avatar {
        width: 57px;
        height: 57px;

        img {
          border-radius: 50%;
        }
      }
      .user__content {
        padding-left: 9px;


        .user__name {
          margin-bottom: 3px;

          font-size: 1.06rem;
          line-height: 1.2;
          color: $black;
          font-weight: 700;
        }

        .user__prof {
          font-size: 0.8rem;
          color: fade($black, 70%);
        }
      }
    }

    .nav {
      display: flex;
      height: 100%;
      align-items: center;

      .nav__link {
        // padding: 0.66rem 2rem;
        margin-left: 2rem;
        position: relative;
        font-size: 0.93rem;
        color: $black;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;

        border: 2px solid transparent;
        //border-radius: 20px;

        &:after {
          content: "";
          //display: block;
          width: 0;
          height: 2px;
          background-color: $black;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
          transition: width 0.2s;


        }

        &:hover:not(.nav__link--btn){
          //border-color: $black;
          &:after {
            width: 100%;
          }
        }
        &--btn{
          padding: 0.66rem 2rem;
          border: 2px solid $black;
          border-radius: 20px;

          transition: background-color .2s, color .2s;

          &:hover {
            background-color: $black;
            color: $white;
          }
        }
      }
    }
  }
}

.intro {

  .intro__inner {
     //background: fade-out(url("../../../../assets/image/P.jpg"),.5);
    font-family: 'Montserrat', sans-serif;

    position: relative;
    display: flex;
    border-bottom: 1px solid transparentize($gray,.3) ;
    padding-bottom: 123px;
    padding-top: 100px;
    background: url("../../../../assets/image/symbols.png") right bottom no-repeat;

    .intro__content {

      width: 50%;

      .intro__subtitle {
        font-size: 2.13rem;
        color: $black;
        font-weight: 200;
      }

      .intro__title {
        font-size: 3rem;
        color: $black;
        font-weight: 700;
        margin-bottom: 5px;
      }

      .intro__text {
        font-size: 1.2rem;
        color: fade-out($black,.7);
        margin-bottom: 25px;

      }

      .social{
        margin-bottom: 42px;
        display: flex;

        .social__link{
          margin-right: 10px;
          transition: transform .2s;


          &:hover {
            transform: translateY(-5px);
          }

          }

        }

      .btn{
        +.btn {
          margin-left: 1rem;
        }
      }
      }

    }

    .intro__photo {
      position: absolute;
      bottom: -1px ;
      right: 0;
      z-index: 1;


    }
  }


