<!--HEADER-->
<header class="header" id="top">
  <div class="container">
    <div class="header__inner">

      <div class="user">
        <div class="user__avatar">
          <a href="https://www.instagram.com/v_zelemskiy/?hl=ru"><img height="57px" src="https://instagram.fiev4-1.fna.fbcdn.net/v/t51.2885-19/s150x150/62256738_342260873132367_7662803216110714880_n.jpg?_nc_ht=instagram.fiev4-1.fna.fbcdn.net&_nc_ohc=DcZqOuhNNaIAX_u9E8V&tp=1&oh=91d7d0334b283f25a348f0e5f4b72b54&oe=5FE45698" alt=""></a>
        </div>
        <div class="user__content">
          <div class="user__name">
            Vladislav<br>Zelemskyi
          </div>
          <div class="user__prof">Web developer &amp; UX Designer</div>
        </div>
      </div>

      <nav class="nav" [class.show]="navBool">
        <a class="nav__link" routerLink="/">home</a>
        <a class="nav__link" routerLink="work" >work</a>
        <a class="nav__link" routerLink="aboutMe" >about me</a>
<!--        <a class="nav__link" href="https://angular-blog-f56ba.web.app/">blog</a>-->

        <a class="nav__link nav__link--btn" href="#" (click)="hereMe($event)">hire me</a>
      </nav>
      <button type="button" class="burger" (click)="openNav()">
        <img class="burger_icon" src="../../assets/image/menu.svg" alt="">
      </button>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
<!--INTRO-->


<!--               <router-outlet></router-outlet>-->
<!-- //Works-->

<!--<section>-->
<!--  <app-intro></app-intro>-->
<!--</section>-->
<!-- <section>-->
<!--   <app-works id="idWork"></app-works>-->
<!-- </section>-->

<!-- <section id="idAbout" >-->
<!--   <app-about-me></app-about-me>-->
<!-- </section>-->

 <section >
   <app-reviews></app-reviews>
 </section>

 <section>
   <app-news></app-news>
 </section>

<!-- <section>-->
<!--   <app-footer></app-footer>-->
<!-- </section>-->

<!--Bottom-->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__credits">
        <div class="footer__copyright">
          &copy; 2020 UI43 - Free Templates
        </div>
        <div class="footer__social">
          <a href="https://www.behance.net/" target="_blank"><img src="../../../../assets/image/behance-gray.svg" alt="" width="24px"></a>
          <a href="https://dribbble.com/" target="_blank"><img src="../../../../assets/image/dribbble-gray.svg" alt="" width="18px"></a>
          <a href="https://www.linkedin.com/" target="_blank"><img src="../../../../assets/image/linkedin-gray.svg" alt="" width="18px"></a>
          <a href="https://www.facebook.com/" target="_blank"><img src="../../../../assets/image/fb-gray.svg" alt="" height="18px"></a>
          <a href="https://www.instagram.com/?hl=ru" target="_blank"><img src="../../../../assets/image/instagram-gray.svg" alt="" width="18px"></a>
          <a href="https://twitter.com/?lang=ru" target="_blank"><img src="../../../../assets/image/twitter-gray.svg" alt="" width="20px"></a>
        </div>
      </div>

      <div class="footer__nav">
        <a href="#top" class="footer__nav-link" (click)="Event($event)">Top</a>
<!--        <a href="#idAbout" class="footer__nav-link" (click)="EventA($event)">About me</a>-->
        <a href="https://angular-blog-f56ba.web.app/" class="footer__nav-link">Blog</a>
<!--        <a class="footer__nav-link">Contact</a>-->
        <a  class="footer__nav-link footer__nav-link--btn" (click)="hereMe($event)">Hire me</a>
      </div>

    </div>
  </div>
</footer>

<!--/////////////////-->
<section id="modal_project" *ngIf="openWorkBool">
  <app-modal></app-modal>
</section>
<section id="modal_resume" *ngIf="boolResume" >
  <app-resume></app-resume>
</section>
 <section id="modal_talk" *ngIf="boolHereME">
  <app-talk></app-talk>
</section>

