<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__credits">
        <div class="footer__copyright">
          &copy; 2020 UI43 - Free Templates
        </div>
        <div class="footer__social">
          <a href="" target="_blank"><img src="../../../../assets/image/behance-gray.svg" alt="" width="24px"></a>
          <a href="" target="_blank"><img src="../../../../assets/image/dribbble-gray.svg" alt="" width="18px"></a>
          <a href="" target="_blank"><img src="../../../../assets/image/linkedin-gray.svg" alt="" width="18px"></a>
          <a href="" target="_blank"><img src="../../../../assets/image/fb-gray.svg" alt="" height="18px"></a>
          <a href="" target="_blank"><img src="../../../../assets/image/instagram-gray.svg" alt="" width="18px"></a>
          <a href="" target="_blank"><img src="../../../../assets/image/twitter-gray.svg" alt="" width="20px"></a>
        </div>
      </div>

      <div class="footer__nav">
        <a href="" class="footer__nav-link">Work</a>
        <a href="" class="footer__nav-link">About me</a>
        <a href="" class="footer__nav-link">Blog</a>
        <a href="" class="footer__nav-link">Contact</a>
        <a href="" class="footer__nav-link footer__nav-link--btn" (click)="hereMe($event)">Hire me</a>
      </div>

    </div>
  </div>
</footer>
