@import "../../sass/style";
@import "../../sass/btn";
@import "src/assets/styles/media";

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}




.news{
  margin-top: 14rem;
  margin-bottom: 8rem;
  @include  screen('lg'){
    margin: 12rem auto 5rem;

  }
  //@include  screen('sx'){
  //  margin:0 auto;
  //  width:
  //
  //}
  .news__header{
    margin-bottom: 3.6rem;
    text-align: center;
    .news__title{
      margin-bottom: .3rem;

      font-size: 3rem;
      color: $black;
      font-weight: 700;
      text-transform: uppercase;
      @include  screen('md'){
        font-size: 2rem;

      }
    }
    .news__text{
      font-size: 1.2rem;
      color: $gray-light;
      font-weight: 300;

    }
  }
}


.articles{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;

  .articles__col{
    width: 33.333%;
    padding: 1rem;
    @include screen('md'){
      width: 100%;
    }

    .articles__item{
      margin-bottom: 2rem;
      @include screen('md'){
        width: 300px;
        margin: 0 auto 2rem;
      }  @include screen('sx'){
        //min-width: 300px;
        margin: 0 auto 2rem;
      }

      .articles__header{
        position: relative;
        margin-bottom: 1.35rem;
        max-height: 180px;
        overflow: hidden;

        .articles__date{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 77px;
          height: 77px;

          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;

          background-color: $black;
          color: $white;
          text-align: center;
          line-height: 1.4;
          font-size: 1.06rem;
        }
        .articles__photo{
          display: block;
          max-width: 100%;
          height: auto;

        }
      }
      .articles__content{
        margin-bottom: 2rem;
        max-height: 200px;
        overflow: auto;
        .articles__title{
          margin-bottom: .6rem;

          font-size: 1.2rem;
          color:$black;
          font-weight: 700;
          text-transform: uppercase;
          a{
            color: inherit;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }


        }
        .articles__cat{
          margin-bottom: 1.5rem;

          font-size: .8rem;
          color: $black;
          text-transform: uppercase;
        }
        .articles__text{
          font-size: .8rem;
          color: $gray-light;
          line-height: 2;
          font-weight: 300;
        }
      }
      .btn--sm{}
    }
  }
}


.news__footer{
  text-align: right;
  .news__link{
    font-size: .94rem;
    color: $gray;

    &:hover{
      text-decoration: none;
    }
  }
}
