
<div id="print-section">
<div class="modal" (click)="clouseResume()">
  <div class="modal__dialog" (click)="stopPropagation($event)">

    <button class="modal__close" type="button" (click)="clouseResume()">
      <img class="modal__close-img" src="../../../../assets/image/modal-close.svg" alt="">
    </button>

    <div class="modal__content">
      <h3 class="modal__title text-center">RESUME</h3>
      <div class="text-center">
        <a class="btn btn--thin" href='../../assets/resume_46122794.pdf' download>DOWNLOAD PDF</a>
<!--        <a class="btn btn&#45;&#45;thin" href="#">PRINT</a>-->
        <button class="btn btn--thin" printSectionId="print-section" [useExistingCss]="true" ngxPrint>Print</button>

      </div>

      <div class="timeline">
        <div class="timeline__col  timeline__col--left">
          <h4 class="timeline__title">EXPERIENCE</h4>

          <div class="timeline__item">
            <time class="timeline__date" datetime="11-21-2019">2017 - <b>Present</b></time>
            <h5 class="timeline__subtitle">Freelancer</h5>
            <div class="timeline__position">Art Director</div>
            <div class="timeline__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis debitis autem aspernatur sed iusto maiores nihil magni provident dolore, animi nemo est corporis in facilis eum quae sint aliquam, ipsam?</p>
            </div>
          </div>

          <div class="timeline__item">
            <time class="timeline__date" datetime="11-21-2019">2017 - <b>Present</b></time>
            <h5 class="timeline__subtitle">Freelancer</h5>
            <div class="timeline__position">Art Director</div>
            <div class="timeline__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis debitis autem aspernatur sed iusto maiores nihil magni provident dolore, animi nemo est corporis in facilis eum quae sint aliquam, ipsam?</p>
            </div>
          </div>

          <div class="timeline__item">
            <time class="timeline__date" datetime="11-21-2019">2017 - <b>Present</b></time>
            <h5 class="timeline__subtitle">Freelancer</h5>
            <div class="timeline__position">Art Director</div>
            <div class="timeline__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis debitis autem aspernatur sed iusto maiores nihil magni provident dolore, animi nemo est corporis in facilis eum quae sint aliquam, ipsam?</p>
            </div>
          </div>
        </div>

        <div class="timeline__col  timeline__col--right">
          <h4 class="timeline__title">EDUCATION</h4>

          <div class="timeline__item">
            <time class="timeline__date" datetime="11-21-2019">2005 - 2010</time>
            <h5 class="timeline__subtitle">UI/UX Design</h5>
            <div class="timeline__position">LA University, USA</div>
          </div>

          <div class="timeline__item">
            <time class="timeline__date" datetime="11-21-2019">2005 - 2010</time>
            <h5 class="timeline__subtitle">UI/UX Design</h5>
            <div class="timeline__position">LA University, USA</div>
          </div>

          <h4 class="timeline__title">Skills</h4>
          <div class="progress-bar">
            <div class="progress-bar__item">
              <div class="progress-bar__left">
                <div class="progress-bar__title">UI/UX Design</div>
              </div>
              <div class="progress-bar__right">
                <div class="progress-bar__bar">
                  <div class="progress-bar__progress" style="width: 50%;"></div>
                </div>
              </div>
            </div>

            <div class="progress-bar__item">
              <div class="progress-bar__left">
                <div class="progress-bar__title">UI/UX Design</div>
              </div>
              <div class="progress-bar__right">
                <div class="progress-bar__bar">
                  <div class="progress-bar__progress" style="width: 90%;"></div>
                </div>
              </div>
            </div>

            <div class="progress-bar__item">
              <div class="progress-bar__left">
                <div class="progress-bar__title">UI/UX Design</div>
              </div>
              <div class="progress-bar__right">
                <div class="progress-bar__bar">
                  <div class="progress-bar__progress" style="width: 80%;"></div>
                </div>
              </div>
            </div>
          </div>

          <h4 class="timeline__title">Awards</h4>

          <div class="timeline__item">
            <time class="timeline__date" datetime="11-21-2019">2010</time>
            <h5 class="timeline__subtitle">UI/UX Design</h5>
            <div class="timeline__position">LA University, USA</div>
            <div class="timeline__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis debitis autem aspernatur sed iusto maiores nihil magni provident dolore, animi nemo est corporis in facilis eum quae sint aliquam, ipsam?</p>
            </div>
          </div>
        </div>

      </div>

      <div class="text-center">
        <a class="btn" href="#" (click)="hereMe($event)">Hire me</a>
      </div>
    </div>
  </div>

</div>

</div>
