
<div class="reviews">
  <div class="container">
    <div class="reviews__item">
      <div class="reviews__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores aut et excepturi itaque laudantium minima mollitia natus necessitatibus non nostrum perspiciatis quam quia, quis quod reiciendis repellat sequi tempora totam unde ut veritatis vero, voluptates. Ad amet autemm esse excepturi explicabo fuga harum inventore magni molestias, nam natus necessitatibus nisi perspiciatis porro provident quae quam quibusdam quos rem tempora unde, voluptatum? Ad, blanditiis corporis</p>
      </div>
      <div class="reviews__author">
        <a href="https://www.instagram.com/stallfao/?hl=ru"><img class="reviews__photo" src="https://instagram.fiev4-1.fna.fbcdn.net/v/t51.2885-15/s150x150/126185048_1693759710803635_8580534295405695815_n.jpg?_nc_ht=instagram.fiev4-1.fna.fbcdn.net&_nc_ohc=JoNqcTsRKn0AX8Kj8a0&tp=1&oh=461b407500aaa9256975a0f026c49084&oe=5FE61278" alt=""></a>
        <div class="reviews__name">Edvard Chili</div>
        <div class="reviews__company">Stallfao studio</div>
        <div class="reviews__rating">
          <img width="13px" height="13px" class="reviews__star" src="../../../../assets/image/star.svg" alt="">
          <img width="13px" height="13px" class="reviews__star" src="../../../../assets/image/star.svg" alt="">
          <img width="13px" height="13px" class="reviews__star" src="../../../../assets/image/star.svg" alt="">
          <img width="13px" height="13px" class="reviews__star" src="../../../../assets/image/star.svg" alt="">
          <img width="13px" height="13px" class="reviews__star reviews__star--unactive" src="../../../../assets/image/star.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
